<div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Esempio dell'album</h1>
        <p class="lead text-muted">Di seguito una breve descrizione dell'album (contenuti, origine, ecc.). Sii breve e dolce, ma non così breve da non saltare completamente questo album</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Altri lavori</a>
            <a href="#" class="btn btn-secondary my-2">Call to Action</a>
        </p>
    </div>
</div>