<div class="container">
    <p class="float-end mb-1">
        <a href="#">Torna in cima</a>
    </p>
    <p class="mb-1">L'album di esempio è © Bootstrap, ma scaricalo e personalizzalo per te stesso!</p>
    <p class="mb-0">Nuovo su Bootstrap? <a href="/">Visita la home page </a>o leggi <a href="/docs/5.2/getting-started/introduction/ ">la guida introduttiva</a>.</p>
</div>