html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#manage {
    font-size: 12px;
}
#logout {
    width: 100px;
}

#no-photos,
#photos-filter {
    display: none;
}

:is(#no-photos, #photos-filter).show {
    display: block;
}

#photos-loader.hide {
    display: none;
}